<% include ./partials/header.ejs %>

<div class="container pad-top">
    <a class="btn btn-large btn-primary" href="/class/new">New Class</a>
    <% if(classes) { %>
        <h1>Classes: </h1>
        <div class="row">
        <% classes.forEach(function(foundClass) { %>
            <div class="col-md-4 col-sm-6 thumbnail">
                <a href="/scrape?id=<%=foundClass.courseId%>&url=<%=foundClass.courseUrl%>">
                    <h3><%= foundClass.name %></h3>
                </a>
                <a class="btn btn-warning" href="/class/<%=foundClass._id%>/edit">Edit</a>
                <form id="delete-form" action="/class/<%=foundClass._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
        <% }); %>
    <% } %>
    </div>
</div>

<script>
    //Function to get values from query strings
    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }

    var url = getParameterByName("CSE110URL");
    document.getElementById("userurl").value = url;
</script>

<% include ./partials/footer.ejs %>
