<% include ./partials/header.ejs %>

<div class="container pad-top">
    <a class="btn btn-large btn-primary" href="/class/new">New Class</a>
    <% if(classes) { %>
        <h1>Classes: </h1>
        <div class="row">
        <% classes.forEach(function(foundClass) { %>
            <div class="col-md-4 col-sm-6 thumbnail">
                <a href="/scrape?id=<%=foundClass.courseId%>&url=<%=foundClass.courseUrl%>">
                    <h3><%= foundClass.name %></h3>
                </a>
                <a class="btn btn-warning" href="/class/<%=foundClass._id%>/edit">Edit</a>
                <form id="delete-form" action="/class/<%=foundClass._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
        <% }); %>
    <% } %>
    </div>
</div>

<% include ./partials/footer.ejs %>
